{% extends "base.html" %}

{% block title %}
		 teacher portal
{% endblock %}

{% block navbar %}
{% include "teacher/navbar.html" %}
{% endblock %}

{% block slicebar %}
	{% include "teacher/slicebar.html" %}
{% endblock %}


{% block content %}
    <div>
		<header>
			<div>
				<div id="present_year" template-class="{{ year }}"></div>
				<div id="class_id" template-class="{{ cl.id }}"></div>
				<div id="image-data" data-base-image-url="{{ url_for('static', filename='') }}"></div>
				<div>Student Performance - Class <strong>{{ cl.class_name }}</strong></div>
				<div>
					<div>
						{% if current_user.image_link == 'default.png' %}
							<img src="{{ url_for('static', filename='default.png') }}" alt="Default Profile Image" class="w-8 h-8 rounded block object-cover align-middle">
						{% else %}
							<img src="{{ current_user.image_link }}" alt="User Profile Image" class="w-8 h-8 rounded block object-cover align-middle">
						{% endif %}
					</div>
					<div><strong>Name:</strong> {{ current_user }}</div>
					<div><strong>Username:</strong>{{ current_user.username}}</div>
					<div><strong>Email:</strong> {{ current_user.email }}</div>
					<div><strong>Marital status:</strong> {{ current_user.marital_status }}</div>
				</div>
				<div>
					<p><span>Class:</span> {{ overview.get("class_name") }}</p>
					<p><span>Students Enrolled:</span> {{ overview.get("Student_enrolled") }} </p>
					<p><span>Schedule:</span> Monday to Friday , {{ overview.get("schedule")[0] }}AM - {{ overview.get("schedule")[-1] }}PM</p>
					<p><span>Fee:</span> 13,000</p>
					<div id="class_id" template-class="{{ cl.id }}"></div>
				</div>
	        </div>
			<div>
				<div>
					<h2>Class Announcements and Reminders </h2>
					</div>
					{% if announcements %}	
					   {% for annoucement in announcements %}
						<div >
							<div >
								<div >{{ annoucement.title }}</div>
								<p >{{ annoucement.content }}</p><br>
								<span ><strong>Date:</strong>{{ annoucement.created_at }}</span>
							</div>
						</div>
						{% endfor %}
					{% else %}
						<div >
							<div >
								<div >Coming Soon...</div>
								<p >no avialaibe annoucements</p><br>
								<span ><strong>Date:</strong>.........</span>
							</div>
						</div>
					{% endif %}
				</div>
	        </div>
		</header>

		<section id="">
			<h2>Class Overview</h2>
			<div>
				{% for type in insight.get("average_score") %}
					<div>
						<p>
							<span>Average {{ insight.get("average_score")[type][0] }} Score:</span>
							<span>{{ insight.get("average_score")[type][1] }}%</span>
						</p>
						<p>
							</span>Performance Trend:</span>
							<span>{{ insight.get("average_score")[type][-1] }}</span>
						</p>
					</div>
				{% else %}
					<div>
						<p><span>Average Score:</span><span>Unknown</span></p>
						<p></span>Performance Trend:</span><span>Unknown</span></p>
					</div>
				{% endfor %}
			</div>
			<div>
				<p><strong>Attendance Rate:</strong> {{ attendancerate }}%</p>
			</div>
		</section>
		<section id="individualPerformance">
			<h2>Individual Student Performance</h2>
			<div>
				<div>
					<select id="termSelect">
						{% if columns.get('Term') %}
							{% for term in columns.get('Term') %}
								<option value="{{ term[0] }}">{{ term[0] }}</option>
							{% endfor %}
						{% else %}
							<option value="">Unknown</option>
						{% endif %}
					</select>
				</div>
				<div>
				  <select id="resultSelect">
						{% if columns.get('Type') %}
							 <option value="All">All</option>
							 {% for type in columns.get('Type') %}
								 <option value="{{ type[0] }}">{{ type[0] }}</option>
							 {% endfor %}
						{% else %}
							 <option value="">Unknown</option>
						{% endif %}
				  </select>
				</div>
				<div>
				  <select id="subjectSelect">
						{% if columns.get('Subject') %}
							 <option value="All">All</option>
							 {% for subject in columns.get('Subject') %}
								 <option value="{{ subject[0] }}">{{ subject[0] }}</option>
							 {% endfor %}
						{% else %}
							 <option value="">Unknown</option>
						{% endif %}
				  </select>
				</div>
				<div>
				  <div>
					  <p>Sort by:</p>
					  <select id="sortSelect">
							<option value="">Sort</option>
							<option value="fullName">Name</option>
							<option value="grade">Grade</option>
							<option value="percentage">Percentage</option>
							<option value="attendance">Attendance</option>
							<option value="age">Age</option>
					  </select>
				  </div>
				  <div>
					  <select id="orderSelect">
							  <option value="asc">Asc</option><option value="desc">Desc</option>
						</select>
				  </div>
				</div>
			</div>
			<table>
				<thead>
					<tr id="table-header">
						<th>Student Name</th><th>Grades</th><th>Percentage</th><th>Attendance</th><th>Age</th><th>Gender</th><th>Username</th>
					</tr>
				</thead>
				<tbody id="table-body">
					<tr>
						<td>Unknown</td><td>Unknown</td><td>Unknow</td><td>Unknown</td>
					</tr>
					<tr>
						<td>Unknown</td><td>Unknown</td><td>Unknown</td><td>Unknown</td>
					</tr>
				</tbody>
			</table>
			<div >
				<select id="fileTypeDropdown">
					<option >Download</option>
					{% for file in ['excel', 'csv', 'json', 'xml'] %}
						  <option value="{{ file }}">{{ file }}</option>
					{% endfor %}
				</select>
			</div>
		</section>
		<section >
			<h3>Performance Comparison</h3>
			<div class="chart-container">
				<div>
					<canvas id="gradeChart" class="canvas" ></canvas>
				  </div>
				</div>
				<div class="chart-container">
				<div>
					<canvas id="histogramCanvas" class="canvas" ></canvas>
				</div>
				</div>
				<div >
					<canvas id="" ></canvas>
				</div>
			</div>
		</section>
		<section id="comparativeAnalysis">
			<div>Comparative Analysis</div>
			<div>
				<div id="maleAverageGrade">Gender-based Performance:</div>
				<div id="femaleAverageGrade">Male Students: Average Grade - A-</div>
			</div>
		</section>

		<section id="progressTracking">
			<h2>Progress Tracking</h2>
			<div id="studentSearchForm">
				<label for="studentSearch">Search for a Student:</label>
				<input type="text" id="studentSearch" placeholder="Enter student username">
				<button type="submit" id="searchButton"><i class="ri-search-line"></i> Search</button>
			</div>
			<div id="studentProgress">
				<div id="selectOptions"></div>
				<div >
					<canvas id="studentPerformanceChart" ></canvas>
				</div>
			</div>
		</section>

		<section id="recommendations">
			<h2>Class Information</h2>
			</ul>
			<div class="detail-row">
				  <div>
					  <span>Class Subjects & Text Books</span>
				  </div>
				  <div>
					  <ul>
						  {% for subject in class_details.get("subjects")['subjects'] %}
							  <li>{{ subject }}</li>
						  {% endfor %}
					  </ul>
				  </div>
				   <table>
					 <thead>
						<tr>
						   <th>Textbook</th>
						   <th>Author</th>
						   <th>Amount</th>
						</tr>
					 </thead>
					 <tbody>
						 {% for  _ in class_details.get("books") %}
							 <tr>
								<td>{{ class_details.get("books")["books"][ loop.index-1] }} </td>
								<td>{{ class_details.get("books")["authors"][ loop.index-1] }}</td>
								<td>{{ class_details.get("books")["amounts"][ loop.index-1] }}</td>
							 </tr>
						 {% endfor %}
					 </tbody>
				   </table>
			  </div>
			  <div class="detail-row">
				  <div class="detail">
					  <h2>Class Timetable</h2>
				  </div>
				  <div>
					  <table>
						<thead>
						   <tr>
							  <th>Day</th>
							  {% for _ in range(table_row) %}
								 <th>{{ class_details.get("timetable")['Times'][loop.index-1] }}</th>
							  {% endfor %}
						   </tr>
						</thead>
						<tbody>
							{% for key in class_details.get("timetable").keys() %}
								{% if key != 'Times' %}
									<tr>
									   <td>{{ key }}</t>
									   {% for _ in range(table_row) %}
										   <td>{{ class_details.get("timetable")[key][loop.index-1] }}</td>
									   {% endfor %}
									</tr>
								{% endif %}
							{% endfor %}
						</tbody>
					  </table>
				  </div>
		</section>

	</div>
{% endblock %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.full.min.js"></script>
	<script src="{{ url_for('static', filename='js/teacher/performance.js') }}"></script>
{% endblock %}