
<!-- start: Sidebar -->
<div class="fixed left-0 top-0 w-64 h-full bg-gray-900 p-4 z-50 sidebar-menu transition-transform">
	<a href="#" class="flex items-center pb-4 border-b border-b-gray-800">
		{% if current_user.image_link == 'default.png' %}
			<img src="{{ url_for('static', filename='default.png') }}" alt="Default Profile Image" class="w-8 h-8 rounded block object-cover align-middle">
		{% else %}
			<img src="{{ current_user.image_link }}" alt="User Profile Image" class="w-8 h-8 rounded block object-cover align-middle">
		{% endif %}
		<span class="text-lg font-bold text-white ml-3">{{ current_user }}</span>
	</a>
	<ul class="mt-4">
		<li class="mb-1 group {{ 'active' if page == 'Dashboard' else '' }}">
			<a href="/teachers/dashboard" class="flex items-center py-2 px-4 text-gray-300 hover:bg-gray-950 hover:text-gray-100 rounded-md group-[.active]:bg-gray-800 group-[.active]:text-white group-[.selected]:bg-gray-950 group-[.selected]:text-gray-100">
				<i class="ri-dashboard-line mr-3 text-lg"></i>
				<span class="text-sm">Dashboard</span>
			</a>
		</li>
		<li class="mb-1 group {{ 'active' if page == 'Performance' else '' }}">
			<a href="/teachers/performance" class="flex items-center py-2 px-4 text-gray-300 hover:bg-gray-950 hover:text-gray-100 rounded-md group-[.active]:bg-gray-800 group-[.active]:text-white group-[.selected]:bg-gray-950 group-[.selected]:text-gray-100">
				<i class="ri-bar-chart-line mr-3 text-lg"></i> <!-- Icon for Class -->
				<span class="text-sm">Student Performance</span>
			</a>
		</li>
		<li class="mb-1 group {{ 'active' if page == 'Attendance' else '' }}">
			<a href="/teachers/attendance" class="flex items-center py-2 px-4 text-gray-300 hover:bg-gray-950 hover:text-gray-100 rounded-md group-[.active]:bg-gray-800 group-[.active]:text-white group-[.selected]:bg-gray-950 group-[.selected]:text-gray-100">
				<i class="ri-calendar-check-line mr-3 text-lg"></i>
				<span class="text-sm">Attendance Tracking</span>
			</a>
		</li>
		<li class="mb-1 group {{ 'active' if page == 'Update' else '' }}">
			<a href="/teachers/update" class="flex items-center py-2 px-4 text-gray-300 hover:bg-gray-950 hover:text-gray-100 rounded-md group-[.active]:bg-gray-800 group-[.active]:text-white group-[.selected]:bg-gray-950 group-[.selected]:text-gray-100">
				<i class="ri-checkbox-circle-line mr-3 text-lg"></i>
				<span class="text-sm">Update Student Result</span>
			</a>
		</li>
		<li class="mb-1 group {{ 'active' if page == 'Communication' else '' }}">
			<a href=”/communication” class="flex items-center py-2 px-4 text-gray-300 hover:bg-gray-950 hover:text-gray-100 rounded-md group-[.active]:bg-gray-800 group-[.active]:text-white group-[.selected]:bg-gray-950 group-[.selected]:text-gray-100">
				<i class=”ri-mail-line mr-3 text-lg”></i>
				<i class="ri-chat-3-line mr-3 text-lg"></i>
				<span class="text-sm">Communication</span>
			</a>
		</li>
		<li class="mb-1 group {{ 'active' if page == 'Help' else '' }}">
			<a href="/help" class="flex items-center py-2 px-4 text-gray-300 hover:bg-gray-950 hover:text-gray-100 rounded-md group-[.active]:bg-gray-800 group-[.active]:text-white group-[.selected]:bg-gray-950 group-[.selected]:text-gray-100">
				<i class="ri-questionnaire-line mr-3 text-lg"></i>
				<span class="text-sm">Help & About</span>
			</a>
		</li>
	</ul>

</div>
<div class="fixed top-0 left-0 w-full h-full bg-black/50 z-40 md:hidden sidebar-overlay"></div>
<!-- end: Sidebar -->

