<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Modern Login Page | theuicode.com</title>
	<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
	<title>
		{% block title %}school{% endblock %}
	</title>
<body>
    <nav>
	    {% block nav %}{% endblock %}
    </nav>
	<main>
		{% block content %}{% endblock %}
	</main>
	<footer>
		{% block footer %}{% endblock %}
	</footer>
</body>
</html>

