{% extends 'base.html' %}

{% block title %}
		 Attendance Page
{% endblock %}

{% block slicebar %}
	{% include "student/slicebar.html" %}
{% endblock %}

{% block navbar %}
{% include "student/navbar.html" %}
{% endblock %}

{% block style %}
   <style>
   .calendar {
	 display: grid;
	 grid-template-columns: repeat(7, 1fr);
	 gap: 5px;
	 width: 90%; /* Adjust as needed */
	 max-width: 600px; /* Adjust maximum width */
	 margin: 0 auto; /* Center horizontally */
	 border-radius: 10px; /* Curvature */
	 background-color: #f5f5f5; /* Background color */
   }

   .day {
	 width: 100%; /* Occupy full width of grid cell */
	 padding-top: 100%; /* Maintain aspect ratio for square shape */
	 border-radius: 50%;
	 text-align: center;
	 line-height: 1; /* Reset line height */
	 font-size: 1rem; /* Adjust font size */
	 background-color: #fff; /* Initial background color */
	 transition: background-color 0.3s ease; /* Smooth transition for background color */
	 display: flex;
	 align-items: center;
	 justify-content: center;
   }

   /* Hover effect */
   .day:hover {
	 background-color: #e0e0e0; /* Adjust to desired color */
   }

   /* Press effect */
   .day:active {
	 transform: scale(0.95); /* Slight scale down on press */
   }

   .present {
	 background-color: #4CAF50; /* Green color for present */
   }
   .late {
			background-color: #4CAF51; /* Green color for present */
		  }

   .absent {
	 background-color: #FF5733; /* Red color for absent */
   }
   </style>
{% endblock %}

{% block content %}
	<!-- Page Content -->
	<div class="container  p-6" id="user-data" data-username="{{ current_user.username }}">
		
		<h3>Attendance Tracking</h3>
		<p>View and manage attendance records for students.</p>

		<!-- Calendar View -->
		<div >
			<div>
				<div>
					<div class="profile">
						<div>Current Student</div>
						 <div>
							 {% if current_user.image_link == 'default.png' %}
								 <img src="{{ url_for('static', filename='default.png') }}" alt="Default Profile Image" class="w-8 h-8 rounded block object-cover align-middle">
							 {% else %}
								 <img src="{{ current_user.image_link }}" alt="User Profile Image" class="w-8 h-8 rounded block object-cover align-middle">
							 {% endif %}
							<p>Name :<span>{{ current_user.__str__() }}</span></p>
							 <p>Gender: {{ current_user.gender }} </p>
							 <p>Total score: {{ user_scores.get(current_user.gender)[0][-2] }}%</p>
						 </div>
					</div>
				</div>
				<div>
					<select id="year-select" class="filterSelect">
						{% if results.get('year') %}
							{% for year in results.get('year') %}
								<option value="{{ year }}">{{ year }}</option>
							{% endfor %}
						{% endif %}
					</select>
				</div>
				<div>
				  <select id="month-select" class="filterSelect">
					  {% for month in months[1:] %}
						  <option value="{{ loop.index }}">{{ month }}</option>
					  {% endfor %}
				  </select>
				</div>
			</div>
			<ul>
				<li>
					<div class="calendar" id="calendar"></div>
				</li>
				<li>
					<canvas id="donutChart" ></canvas>
				</li>
			</ul>
			<div class="calendar" id="calendar"></div>
			
		</div>

		<!-- Summary Statistics -->
		<div class="summary">
			<h2>Summary Statistics</h2>
			<div>
			  <div>Total Days Present: <span id="presentCountElement"></span></div>
			  <div>Total Days Absent: <span id="absentCountElement"></span></div>
			  <div>Total Days Late: <span id="lateCountElement"></span></div>
			</div>
		</div>

		<!-- Detailed Attendance List -->
		<div class="attendance-list">
			<h2>Attendance Records</h2>
			<table>
				<thead>
					<tr>
						<th>Date</th>
						<th>Morning</th>
						<th>Status</th>
						<th>Evening</th>
						<th>Late</th>
						<th>Comment</th>
					</tr>
				</thead>
				<tbody id="attendanceTableBody">
					<!-- Example: <tr><td>2024-03-14</td><td>Present</td><td></td></tr> -->
				</tbody>
			</table>
			<div class="filter">
				<select id="fileTypeDropdown" class="filterSelect">
					<option >Download</option>
					{% for file in ['excel', 'csv', 'json', 'xml'] %}
						  <option value="{{ file }}">{{ file }}</option>
					{% endfor %}
				</select>
			</div>
			<div>
		</div>
	</div>
{% endblock %}

{% block script %}
		  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.full.min.js"></script>
		  <script src="{{ url_for('static', filename='js/student/attendance.js') }}"></script>
{% endblock %}