{% extends 'base.html' %}

{% block title %}
		 Fees Page
{% endblock %}

{% block slicebar %}
	{% include "student/slicebar.html" %}
{% endblock %}

{% block navbar %}
{% include "student/navbar.html" %}
{% endblock %}

{% block content %}
    <div id="user-data" data-username="{{ current_user.username }}">
		<div id="class_id" data-class-id="{{ current_user.class_id }}""></div>
		<h1>Student School Fee</h1>
	
		<!-- Overview Section -->
		<div>
			<div class="filter">
				<select id="year"  class="filterSelect">
					{% if results.get('year') %}
						{% for year in results.get('year') %}
							<option value="{{ year }}">{{ year }}</option>
						{% endfor %}
					{% endif %}
				</select>
			</div>
			<div class="filter">
				<select id="term"  class="filterSelect">
					{% if results.get('term') %}
						{% for term in results.get('term') %}
							<option value="{{ term }}">{{ term }} {{ i }}</option>
						{% endfor %}
					{% endif %}
				</select>
			</div>
		</div>
		<div >
			<div id="dataContainer">
				<!-- Display fee data here -->
			</div>
	    <div>
		<!-- Payment History Section -->
		<section id="payment-history">
			<h2>Payment History</h2>
			<table>
				<thead>
					<tr>
						<th>Date</th>
						<th>Amount</th>
						<th>Payment Method</th>
						<th>Status</th>
						<th>Comment</th>
					</tr>
				</thead>
				<tbody id="feeTableBody">
				   <!-- fee content comes here -->
				</tbody>
			</table>
		</section>
	
		<!-- Upcoming Due Dates Section -->
		<section id="upcoming-due-dates">
			<h2>Upcoming Due Dates</h2>
			<ul>
				<li>MM/DD/YYYY - ₦XXX.XX</li>
				<!-- Add more list items for additional due dates -->
			</ul>
		</section>
	
		<!-- Outstanding Balances Section -->
		<div class="container">
			<h2>Fee Status - Detailed Breakdown</h2>
			<table>
				<tr>
					<th>Category</th>
					<th>Amount</th>
				</tr>
				<tr>
					<td>Tuition Fees</td>
					<td>$500.00</td>
				</tr>
				<tr>
					<td>Lesson Fee</td>
					<td>$100.00</td>
				</tr>
				<tr>
					<td>Books and Supplies</td>
					<td>$50.00</td>
				</tr>
				<tr class="total">
					<td>Total</td>
					<td>$650.00</td>
				</tr>
			</table>
		</div>
		
		
	
		<!-- Help and Support Section -->
		<section id="help-support">
			<h2>Help and Support</h2>
			<p>For assistance with school fees, please contact:</p>
			<p>Email: support@example.com</p>
			<p>Phone: XXX-XXX-XXXX</p>
		</section>
    </div>
{% endblock %}

{% block script %}
		  <script src="{{ url_for('static', filename='js/student/fee.js') }}"></script>
{% endblock %}