{% extends 'base.html' %}


{% block style %}
     <style>
		  /* CSS for the calendar */
		   .day {
			 border: 1px solid #dee2e6;
			 text-align: center;
			 padding: 5px;
			 height: 5px;
			 border-radius: 8px; /* Rounded corners */
		   }
		   .present {
			 background-color: #28a745; /* Green */
		   }
		   .absent {
			 background-color: #dc3545; /* Red */
		   }
		   .tardy {
			 background-color: #6c757d; /* Gray */
		   }
	 </style>
{% endblock %}

{% block title %}
         Gurdians Page
{% endblock %}

{% block slicebar %}
    <!-- start: Sidebar -->
    <div class="fixed left-0 top-0 w-64 h-full bg-gray-900 p-4 z-50 sidebar-menu transition-transform">
        <a href="#" class="flex items-center pb-4 border-b border-b-gray-800">
            <img src="https://placehold.co/32x32" alt="" class="w-8 h-8 rounded object-cover">
            <span class="text-lg font-bold text-white ml-3">{{ current_user }}</span>
        </a>
        <ul class="mt-4">
            <li class="mb-1 group active">
                <a href="#Dashboard" class="flex items-center py-2 px-4 text-gray-300 hover:bg-gray-950 hover:text-gray-100 rounded-md group-[.active]:bg-gray-800 group-[.active]:text-white group-[.selected]:bg-gray-950 group-[.selected]:text-gray-100">
                    <i class="ri-dashboard-line mr-3 text-lg"></i>
                    <span class="text-sm">Dashboard</span>
                </a>
            </li>
            <li class="mb-1 group ">
                <a href="#Performance" class="flex items-center py-2 px-4 text-gray-300 hover:bg-gray-950 hover:text-gray-100 rounded-md group-[.active]:bg-gray-800 group-[.active]:text-white group-[.selected]:bg-gray-950 group-[.selected]:text-gray-100">
                    <i class="ri-bar-chart-line mr-3 text-lg"></i>
                    <span class="text-sm">Performance</span>
                </a>
            </li>
            <li class="mb-1 group">
                <a href="#" class="flex items-center py-2 px-4 text-gray-300 hover:bg-gray-950 hover:text-gray-100 rounded-md group-[.active]:bg-gray-800 group-[.active]:text-white group-[.selected]:bg-gray-950 group-[.selected]:text-gray-100">
                    <i class="ri-money-dollar-circle-line mr-3 text-lg"></i>
                    <span class="text-sm">School Fee</span>
                </a>
            </li>
            <li class="mb-1 group">
                <a href="#" class="flex items-center py-2 px-4 text-gray-300 hover:bg-gray-950 hover:text-gray-100 rounded-md group-[.active]:bg-gray-800 group-[.active]:text-white group-[.selected]:bg-gray-950 group-[.selected]:text-gray-100">
                    <i class="ri-calendar-check-line mr-3 text-lg"></i>
                    <span class="text-sm">Attendance Tracking</span>
                </a>
            </li>
            <li class="mb-1 group">
                <a href="#" class="flex items-center py-2 px-4 text-gray-300 hover:bg-gray-950 hover:text-gray-100 rounded-md group-[.active]:bg-gray-800 group-[.active]:text-white group-[.selected]:bg-gray-950 group-[.selected]:text-gray-100">
                    <i class="ri-chat-3-line mr-3 text-lg"></i>
                    <span class="text-sm">Communication</span>
                </a>
            </li>
        </ul>
        
    </div>
    <div class="fixed top-0 left-0 w-full h-full bg-black/50 z-40 md:hidden sidebar-overlay"></div>
    <!-- end: Sidebar -->
{% endblock %}
    
    
    


{% block content %}

	
         <!-- navbar -->
        <div class="py-2 px-6 bg-white flex items-center shadow-md shadow-black/5 sticky top-0 left-0 z-30">
            <button type="button" class="text-lg text-gray-600 sidebar-toggle">
                <i class="ri-menu-line"></i>
            </button>
            <ul class="flex items-center text-sm ml-4">
                <li class="mr-2">
                    <a href="#" class="text-gray-400 hover:text-gray-600 font-medium">{{ school_name }}</a>
                </li>
                <li class="text-gray-600 mr-2 font-medium">/</li>
                <li class="text-gray-600 mr-2 font-medium">guardians Page</li>
            </ul>
            
            <ul class="ml-auto flex items-center">
                
                <!-- notification area -->
                <li class="dropdown">
                    <button type="button" class="dropdown-toggle text-gray-400 w-8 h-8 rounded flex items-center justify-center hover:bg-gray-50 hover:text-gray-600">
                        <i class="ri-notification-3-line"></i>
                    </button>
                    <div class="dropdown-menu shadow-md shadow-black/5 z-30 hidden max-w-xs w-full bg-white rounded-md border border-gray-100">
                        <div class="flex items-center px-4 pt-4 border-b border-b-gray-100 notification-tab">
                            <button type="button" data-tab="notification" data-tab-page="notifications" class="text-gray-400 font-medium text-[13px] hover:text-gray-600 border-b-2 border-b-transparent mr-4 pb-1 active">Notifications</button>
                            <button type="button" data-tab="notification" data-tab-page="messages" class="text-gray-400 font-medium text-[13px] hover:text-gray-600 border-b-2 border-b-transparent mr-4 pb-1">Messages</button>
                        </div>
                        <div class="my-2">
                            <ul class="max-h-64 overflow-y-auto" data-tab-for="notification" data-page="notifications">
                                <li>
                                    <a href="#" class="py-2 px-4 flex items-center hover:bg-gray-50 group">
                                        <img src="https://placehold.co/32x32" alt="" class="w-8 h-8 rounded block object-cover align-middle">
                                        <div class="ml-2">
                                            <div class="text-[13px] text-gray-600 font-medium truncate group-hover:text-blue-500">New order</div>
                                            <div class="text-[11px] text-gray-400">from a user</div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <ul class="max-h-64 overflow-y-auto hidden" data-tab-for="notification" data-page="messages">
                                <li>
                                    <a href="#" class="py-2 px-4 flex items-center hover:bg-gray-50 group">
                                        <img src="https://placehold.co/32x32" alt="" class="w-8 h-8 rounded block object-cover align-middle">
                                        <div class="ml-2">
                                            <div class="text-[13px] text-gray-600 font-medium truncate group-hover:text-blue-500">John Doe</div>
                                            <div class="text-[11px] text-gray-400">Hello there!</div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <!--notification end -->
                
               <!-- profilr area -->
                <li class="dropdown ml-3">
                    <button type="button" class="dropdown-toggle flex items-center">
                        <img src="https://placehold.co/32x32" alt="" class="w-8 h-8 rounded block object-cover align-middle">
                    </button>
                    <ul class="dropdown-menu shadow-md shadow-black/5 z-30 hidden py-1.5 rounded-md bg-white border border-gray-100 w-full max-w-[140px]">
                        <li>
                            <a href="#" class="flex items-center text-[13px] py-1.5 px-4 text-gray-600 hover:text-blue-500 hover:bg-gray-50">Profile</a>
                        </li>
						<li>
							<a href="{{ url_for('routes.home.logout') }}" class="flex items-center text-[13px] py-1.5 px-4 text-gray-600 hover:text-blue-500 hover:bg-gray-50">Logout</a>
						</li>
                    </ul>
                </li>
                <!-- profile area end -->
            </ul>
        </div>
        <!-- navbar end -->


      
    
    
    

      <div class="p-6">

        <!-- dashboard start -->
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 mb-6">
                <div class="bg-white border border-gray-100 shadow-md shadow-black/5 p-6 rounded-md lg:col-span-2">
                    <div class="flex justify-between mb-4 items-start">
                        <div class="font-medium">Upcoming Events</div>
                    </div>
					<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mb-4">
						{% if events %}
							{% for event in events %}
							<div class="rounded-md border border-dashed border-gray-200 p-4">
								<div class="flex items-center mb-0.5">
									<div class="text-xl font-semibold"><strong>Event:</strong>{{ event.name }}</div>
									<span class="p-1 rounded text-[12px] font-semibold bg-blue-500/10 text-blue-500 leading-none ml-1">id{{ event.id }}</span>
								</div>
								<span class="text-gray-400 text-sm"><strong>Date:</strong>{{ event.date  }}</span>
							</div>
							{% endfor %}

						{% else %}
							<div class="rounded-md border border-dashed border-gray-200 p-4">
								<div class="flex items-center mb-0.5">
									<div class="text-xl font-semibold"><strong>Event:</strong>Comming Soon.......</div>
									<span class="p-1 rounded text-[12px] font-semibold bg-blue-500/10 text-blue-500 leading-none ml-1">...</span>
								</div>
								<span class="text-gray-400 text-sm"><strong>Date:</strong>........</span>
							</div>
					    {% endif %}
					</div>
                </div>

                <div >
				
                    <div class="bg-white border border-gray-100 shadow-md shadow-black/5 p-6 rounded-md lg:col-span-2">
							<div class="flex justify-between mb-4 items-start">
								<div class="font-medium">Announcements</div>
							</div>
						    {% if announcements %}	
						       {% for annoucement in announcements %}
		                        <div class="announcement-container">
		                            <div class="announcement">
		                                <div class="announcement-title">{{ annoucement.title }}</div>
		                                <p class="announcement-content">{{ annoucement.content }}</p><br>
										<span class="text-gray-400 text-sm"><strong>Date:</strong>{{ annoucement.created_at }}</span>
		                            </div>
		                        </div>
								{% endfor %}
						    {% else %}
								<div class="announcement-container">
									<div class="announcement">
										<div class="announcement-title">Coming Soon...</div>
										<p class="announcement-content">no avialaibe annoucements</p><br>
										<span class="text-gray-400 text-sm"><strong>Date:</strong>.........</span>
									</div>
								</div>
						    {% endif %}
                    </div>
                </div>
        </div>
        <!-- Dashboard end-->





        <!-- Performance Area End -->
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 mb-6" id="Performance">
            <div class="bg-white border border-gray-100 shadow-md shadow-black/5 p-6 rounded-md">
                <div class="flex justify-between mb-4 items-start">
                    <div class="font-medium">Performance Area</div>
                </div>
                <div>
					<div>
						<div >
							<label for="year">Year:</label>
							<select id="year" onchange="updatePerformance()">
								{% if results.get('year') %}
								    {% for year in results.get('year') %}
								        <option value="{{ year }}">{{ year }}</option>
								    {% endfor %}
                                {% endif %}
							</select>
						</div>
						<div >
							<label for="term">Term:</label>
							<select id="term" onchange="updatePerformance()">
								{% if results.get('term') %}
									{% for term in results.get('term') %}
										<option value="{{ term }}">{{ term }} {{ i }}</option>
									{% endfor %}
							    {% endif %}
							</select>
						</div>
						<div >
							<label for="result_type">Result Type:</label>
							<select id="result_type" onchange="updatePerformance()">
								{% if results.get('result_type') %}
									{% for result_type in results.get('result_type') %}
										<option value="{{ result_type }}">{{ result_type }}</option>
									{% endfor %}
								{% endif %}
                            </select>
						</div>
					</div>
                    <div class="overflow-x-auto">
                        
                        <table class="w-full min-w-[540px]">
                            <thead>
                                <tr>
                                    <th class="text-[12px] uppercase tracking-wide font-medium text-gray-400 py-2 px-4 bg-gray-50 text-left rounded-tl-md rounded-bl-md">Subject</th>
                                    <th class="text-[12px] uppercase tracking-wide font-medium text-gray-400 py-2 px-4 bg-gray-50 text-left">Grade</th>
                                    <th class="text-[12px] uppercase tracking-wide font-medium text-gray-400 py-2 px-4 bg-gray-50 text-left">Scores</th>
                                    <th class="text-[12px] uppercase tracking-wide font-medium text-gray-400 py-2 px-4 bg-gray-50 text-left rounded-tr-md rounded-br-md">Comments</th>
                                </tr>
                            </thead>
                            <tbody id="performanceTableBody">
                            </tbody>
                        </table>
                    </div>
					<select id="Download">
						<option >Download</option>
						{% for file in ['excel', 'csv', 'json', 'xml'] %}
							  <option value="{{ file }}">{{ file }}</option>
						{% endfor %}
					</select>
                </div>
                
                
            <div>
                <div class="font-medium">Child's Performance Overview</div>
                <div>
                     <div>
                        <button class="tablinks" id="barChartButton">Grades Overview</button>
                        <button class="tablinks" id="donutChartButton">Grades</button>
                        <button class="tablinks" onclick="openTab(event, 'performanceTrends')">Performance Trends</button>
                     </div>
                     <div id="bar" class="tab">
                         <canvas id="Chart" ></canvas>
                     </div>
                </div>
            </div>
        </div>
        <!-- Performance Area end -->
            
       
        <!-- Student Class Details -->               
                
        <div class="bg-white border border-gray-100 shadow-md shadow-black/5 p-6 rounded-md">
            <div class="flex justify-between mb-4 items-start">
                <div class="font-medium">Student Class Details</div>
            </div>
            
            <div class="overflow-x-auto">
				<div class="container">
				   <div class="details">
					  <div class="detail-row">
						  <div class="detail">
							  <p>Total Students: 50</p>
							  <p>Male: 25</p>
							  <p>Female: 25</p>
						  </div>
					  </div>
					  <div class="detail-row">
						 <div>
						    <div>
								<img src="https://placehold.co/32x32" alt="" class="w-8 h-8 rounded block object-cover align-middle">
							</div>
							<div class="detail">
								<h2>Class Teacher</h2>
								<p>Name: Mr./Ms. Teacher's Name</p>
								<p>Contact: Teacher's Contact Information</p>
								<p>About: Brief Bio or Description of the Teacher</p>
							</div>
						 </div>
					  </div>
					  <div class="detail-row">
						   <table>
							 <thead>
								<tr>
								   <th>Textbook</th>
								   <th>Author</th>
								   <th>Amount</th>
								</tr>
							 </thead>
							 <tbody>
								 <tr>
									<td>Python for Data Analysis</td>
									<td>Abdul rahmon</td>
									<td>$10</td>
								 </tr>
							 </tbody>
						   </table>
					  </div>
					  <div class="detail-row">
						  <div class="detail">
						      <h2>Class Timetable</h2>
						  </div>
						  <div>
							  <table>
								<thead>
								   <tr>
									  <th>Day</th>
									  <th>Time</th>
								   </tr>
								</thead>
								<tbody>
									<tr>
									   <td>Monday</td>
									   <td>Mathematics</td>
									</tr>
								</tbody>
							  </table>
						  </div>
					  </div>
						
				   </div>
			    </div>
            </div>
        </div>
       <!-- Student Class Details end -->


		<div class="container">
		  <h1 class="mt-5 mb-4 text-center">Attendance Calendar</h1>
		  <div class="row">
			<div class="col-md-3">
			  <label for="monthSelect" class="form-label">Select Month:</label>
			  <select id="monthSelect" class="form-select" onchange="generateCalendar()">
				<option value="1">January</option>
				<option value="2">February</option>
				<option value="3" selected>March</option>
				<!-- Add more options for other months -->
			  </select>
			</div>
		  </div>
		  <div class="row mt-3">
			<div class="col">
			  <div class="table-responsive">
				<table class="table table-bordered">
				  <thead>
					<tr>
					  <th scope="col">Sun</th>
					  <th scope="col">Mon</th>
					  <th scope="col">Tue</th>
					  <th scope="col">Wed</th>
					  <th scope="col">Thu</th>
					  <th scope="col">Fri</th>
					  <th scope="col">Sat</th>
					</tr>
				  </thead>
				  <tbody id="calendar"></tbody>
				</table>
			  </div>
			</div>
		  </div>
		</div>
		<div>
			<div class="row">
				<div class="col-md-3">
				  <label for="monthSelect" class="form-label">Select Month:</label>
				  <select id="monthSelect" class="form-select" onchange="generateCalendar()">
					<option value="4">April</option>
					<option value="5">May</option>
					<option value="6" selected>June</option>
					<!-- Add more options for other months -->
				  </select>
				</div>
			  </div>
			  <div class="row mt-3">
				<div class="col">
				  <div class="table-responsive">
					<table class="table table-bordered">
					  <thead>
						<tr>
						  <th scope="col">Sun</th>
						  <th scope="col">Mon</th>
						  <th scope="col">Tue</th>
						  <th scope="col">Wed</th>
						  <th scope="col">Thu</th>
						  <th scope="col">Fri</th>
						  <th scope="col">Sat</th>
						</tr>
					  </thead>
					  <tbody id="calendar"></tbody>
					</table>
				  </div>
				</div>
			  </div>
		</div>
			
{% endblock %}
{% block script %}
		  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.full.min.js"></script>
		  <script src="{{ url_for('static', filename='js/student.js') }}"></script>
{% endblock %}


		  