<div class="fixed left-0 top-0 w-64 h-full bg-gray-900 p-4 z-50 sidebar-menu transition-transform">
	<a href="#" class="flex items-center pb-4 border-b border-b-gray-800">
		{% if current_user.image_link == 'default.png' %}
			<img src="{{ url_for('static', filename='default.png') }}" alt="Default Profile Image" class="w-8 h-8 rounded block object-cover align-middle">
		{% else %}
			<img src="{{ current_user.image_link }}" alt="User Profile Image" class="w-8 h-8 rounded block object-cover align-middle">
		{% endif %}
		<span class="text-lg font-bold text-white ml-3">{{ current_user }}</span>
	</a>
	<ul class="mt-4">
		<li class="mb-1 group {{ 'active' if page == 'Dashboard' else '' }}">
			<a href="#Dashboard" class="flex items-center py-2 px-4 text-gray-300 hover:bg-gray-950 hover:text-gray-100 rounded-md group-[.active]:bg-gray-800 group-[.active]:text-white group-[.selected]:bg-gray-950 group-[.selected]:text-gray-100">
				<i class="ri-dashboard-line mr-3 text-lg"></i>
				<span class="text-sm">Dashboard</span>
			</a>
		</li>
		<li class="mb-1 group {{ 'active' if page == 'Class Detail' else '' }}">
			<a href="#class" class="flex items-center py-2 px-4 text-gray-300 hover:bg-gray-950 hover:text-gray-100 rounded-md group-[.active]:bg-gray-800 group-[.active]:text-white group-[.selected]:bg-gray-950 group-[.selected]:text-gray-100">
				<i class="ri-book-line mr-3 text-lg"></i>
				<span class="text-sm">Class Detail</span>
			</a>
		</li>
		<li class="mb-1 group {{ 'active' if page == 'Performance' else '' }}">
			<a href="#Performance" class="flex items-center py-2 px-4 text-gray-300 hover:bg-gray-950 hover:text-gray-100 rounded-md group-[.active]:bg-gray-800 group-[.active]:text-white group-[.selected]:bg-gray-950 group-[.selected]:text-gray-100">
				<i class="ri-bar-chart-line mr-3 text-lg"></i>
				<span class="text-sm">Performance</span>
			</a>
		</li>
		<li class="mb-1 group {{ 'active' if page == 'School Fee' else '' }}">
			<a href="#" class="flex items-center py-2 px-4 text-gray-300 hover:bg-gray-950 hover:text-gray-100 rounded-md group-[.active]:bg-gray-800 group-[.active]:text-white group-[.selected]:bg-gray-950 group-[.selected]:text-gray-100">
				<i class="ri-money-dollar-circle-line mr-3 text-lg"></i>
				<span class="text-sm">School Fee</span>
			</a>
		</li>
		<li class="mb-1 group {{ 'active' if page == 'Attendance Tracking' else '' }}">
			<a href="#" class="flex items-center py-2 px-4 text-gray-300 hover:bg-gray-950 hover:text-gray-100 rounded-md group-[.active]:bg-gray-800 group-[.active]:text-white group-[.selected]:bg-gray-950 group-[.selected]:text-gray-100">
				<i class="ri-calendar-check-line mr-3 text-lg"></i>
				<span class="text-sm">Attendance Tracking {{ page }}</span>
			</a>
		</li>
		<li class="mb-1 group {{ 'active' if page == 'Communication' else '' }}">
			<a href="#" class="flex items-center py-2 px-4 text-gray-300 hover:bg-gray-950 hover:text-gray-100 rounded-md group-[.active]:bg-gray-800 group-[.active]:text-white group-[.selected]:bg-gray-950 group-[.selected]:text-gray-100">
				<i class="ri-chat-3-line mr-3 text-lg"></i>
				<span class="text-sm">Communication</span>
			</a>
		</li>
		<li class="mb-1 group {{ 'active' if page == 'Help & About' else '' }}">
			<a href="#help" class="flex items-center py-2 px-4 text-gray-300 hover:bg-gray-950 hover:text-gray-100 rounded-md group-[.active]:bg-gray-800 group-[.active]:text-white group-[.selected]:bg-gray-950 group-[.selected]:text-gray-100">
				<i class="ri-questionnaire-line mr-3 text-lg"></i>
				<span class="text-sm">Help & About</span>
			</a>
		</li>
		<li class="mb-1 group {{ 'active' if page == 'About' else '' }}">
			<a href="#about" class="flex items-center py-2 px-4 text-gray-300 hover:bg-gray-950 hover:text-gray-100 rounded-md group-[.active]:bg-gray-800 group-[.active]:text-white group-[.selected]:bg-gray-950 group-[.selected]:text-gray-100">
				<i class="ri-information-line mr-3 text-lg"></i>
				<span class="text-sm">About</span>
			</a>
		</li>
		{{ current_page|student_nav }}
	</ul>
</div>
